%nav.navbar.navbar-default#header
	.container-fluid
		= image_tag("logo.png", :class => "img-responsive navbar-nav", :id => "logo")
		= render 'shared/searching'			
		.collapse.navbar-collapse
			.nav.navbar-nav.navbar-right
				- if user_signed_in?
					%span= current_user.email
					= render 'shared/menu'
				- else
					= render 'shared/sign_in'
					= render 'shared/sign_up'