!!! 5
%html{'ng-app' => 'lolCat'}
	%head
	%base{:href => '/'}
	%title LolCat
	= stylesheet_link_tag    'application', media: 'all'
	= javascript_include_tag 'application'
	= csrf_meta_tags
	%body
		= render "shared/header"
		.container-fluid
			.row
			= yield
